{% extends 'base.html' %}

{% block content %}

<main class="container mt-4">

    <!-- Hero Section (First Featured Post) -->
    {% for post in featured_post %}
    {% if forloop.first %}
    <div class="p-4 p-md-5 mb-4 rounded text-white" style="background-image: url('{{ post.featured_image.url }}');
                    background-size: cover;
                    background-position: center;
                    background-blend-mode: overlay;
                    background-color: rgba(0,0,0,0.5);">

        <div class="col-lg-6 px-0">
            <h1 class="display-4 fst-italic">
                {{ post.title }}
            </h1>

            <p class="lead my-3">
                {{ post.short_description|truncatewords:25 }}
            </p>

            <p class="lead mb-0">
                <a href="{% url 'blogs' post.slug %}" class="text-white fw-bold">
                    Continue reading...
                </a>
            </p>
        </div>
    </div>
    {% endif %}
    {% endfor %}

    <!-- Featured Posts Section -->
    <div class="my-5">

        <h6 class="mb-4 text-muted">FEATURED POSTS</h6>

        <div class="row g-4">
            {% for post in featured_post %}
            {% if not forloop.first %}
            <div class="col-md-6">
                <article>
                   <h2 class="h4"><a href="{% url 'blogs' post.slug %}" class="text-dark">
                    {{ post.title }}
                </a>
                </h2>
                    <div class="text-muted small mb-2">
                        {{ post.created_at|timesince }} ago | {{ post.author }}
                    </div>

                    <p>
                        {{ post.short_description|truncatewords:30 }}
                    </p>
                </article>
            </div>
            {% endif %}
            {% endfor %}
        </div>

    </div>

    <!-- Recent Articles -->
    <div class="row g-5">

        <div class="col-md-8">
            <h6 class="mb-4 text-muted">RECENT ARTICLES</h6>

            {% for post in recent_articles %}
            <article class="mb-5">
                <h2 class="h4"><a href="{% url 'blogs' post.slug %}" class="text-dark">
                    {{ post.title }}
                </a>
                </h2>

                <div class="text-muted small mb-2">
                    {{ post.created_at|timesince }} ago | {{ post.author }}
                </div>

                <p>
                    {{ post.short_description }}
                </p>
            </article>
            {% endfor %}
        </div>

        <!-- Sidebar -->
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem">

                <div class="p-4 mb-3 bg-body-tertiary rounded">
                    <h4 class="fst-italic">{{ about_us.about_heading }}</h4>
                    <p class="mb-0">
                        {{ about_us.about_description }}
                    </p>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Follow Us</h4>
                    <ol class="list-unstyled mb-0">
                        {% for i in social_links %}
                        <li><a href="{{ i.link }}" target="_blank">{{ i.platform }}</a></li>
                        {% endfor %}
                    </ol>
                </div>

            </div>
        </div>

    </div>

</main>

{% endblock %}