{% extends 'base.html' %}

{% block content %}
<main class="container">
    
    <!-- Featured Posts Section -->
    <div class="container my-5">
        <!-- Section title -->
        <div class="mb-4">
            <h2 class="featured-heading">Category {{ category.category_name }} </h2>
        </div>
        <div class="row g-5">
            <!-- Post 1 -->
            {% if posts%}
            {% for post in posts %}
            <div class="col-md-6">
                <article class="featured-post">
                    <h2 class="featured-title">
                        <a href="{% url 'blogs' post.slug %}" class="text-dark">
                 {{ post.title }}
            </a> 
                    </h2>

                    <div class="featured-meta">
                        {{ post.created_at | timesince }} | {{ post.author }}
                    </div>

                    <p class="featured-text">
                        {{ post.short_description | truncatewords:30 }}
                    </p>
                </article>
            </div>
            {% endfor %}
            {% else %}
            <p>No posts Found</p>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}